# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/

# Android
*.iml
.gradle
local.properties
.idea/
.DS_Store
**/build/
**/captures/
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab

# Gradle
gradle.properties

# Misc
*.log
*.swp
*~
